@using System.Collections.Generic;
@using System.Linq;
@using Website.Logic.Application;
@inherits UmbracoViewPage
@{
    var root = Umbraco.ContentAtRoot().First();
    var teams = root.ChildrenOfType("teams");
    var days = root.ChildrenOfType("day");
    var results = new List<TeamResult>();

    // init
    foreach(IPublishedContent team in teams)
    {
        results.Add(new TeamResult() { Name = team.Name, Id = team.Id });
    }

    // get results by day
    foreach (IPublishedContent day in days)
    {
        var fixtures = day.Descendants().Where(x => x.Name.IndexOf("fixture") != -1).ToList();
        fixtures.ForEach(fixture => {

            var homeTeam = fixture.Value<IPublishedContent>("homeTeam");
            int homeTeamGoals = fixture.Value<int?>("homeTeamGoals") ?? 0;
            var awayTeam = fixture.Value<IPublishedContent>("awayTeam");
            int awayTeamGoals = fixture.Value<int?>("awayTeamGoals") ?? 0;

            var homeTeamResult = results.Single(x => x.Id == homeTeam.Id);
            var awayTeamResult = results.Single(x => x.Id == homeTeam.Id);

            bool finished = fixture.Value<bool?>("finished") ?? false;

            if (homeTeamGoals > 0)
            {
                homeTeamResult.Goals += homeTeamGoals;
            }
            if (awayTeamGoals > 0)
            {
                awayTeamResult.Goals +=awayTeamGoals;
            }

            if (finished)
            {
                homeTeamResult.Played++;
                awayTeamResult.Played++;

                if (homeTeamGoals > awayTeamGoals)
                {
                    homeTeamResult.Won++;
                }
                if (awayTeamGoals > homeTeamGoals)
                {
                    awayTeamResult.Won++;
                }
            }
        });
    }
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Team Name</th>
            <th scope="col">Matches Played</th>
            <th scope="col">Matches Won</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in results)
        {
        <tr>
            <th scope="row">@(result.Name)</th>
            <td>@(result.Played)</td>
            <td>@(result.Won)</td>
        </tr>
        }
    </tbody>
</table>